.userPhoto {
	width: 100px;
	height: 100px;
}
.pagePickContainer {
	margin: 20px;
}
.usersContentContainer {
	margin-left: 20px;
}
.selectedPage {
	font-weight: bold;
	margin: 10px;
}
span {
	color: white;
}
